<nav class="navbar navbar-dark bg-dark fixed-top">
    <form class="form-inline mx-auto">
        <a href="<%=cocktails_path%>" role="button" class="btn btn-outline-success my-2 my-sm-0 card-link">
            Home
        </a>
        <a href="<%=new_cocktail_path%>" role="button" class="btn btn-outline-success my-2 my-sm-0 card-link">
            Add cocktail
            <i class="fas fa-plus-circle" style="color: white"></i>
        </a>
        <a href="<%=%>" role="button" class="btn btn-outline-success my-2 my-sm-0 card-link">
            Delete Dose
            <i class="fas fa-trash-alt" style="color: white"></i>
        </a>
    </form>
</nav>