<%= render "navbar" %>

<div class="container mx-auto mt-3">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag photo.key, crop: :fill %>
        <div class="card-body">
          <h5 class="card-text text-center">
            <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %>

          </h5>
          <div id="display-content">
            <%= %>
          </div>
          <!-- Scrollable modal -->
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<a class="btn btn-primary" data-toggle="collapse" href="" role="button" aria-expanded="true" aria-controls="collapseExample">
  Add Dose test
</a>